<div class="footer">
  <div class="footer-body">
    <div class="social-card"><a target="_blank" [href]="'https://twitter.com/1bariscanyilmaz'"><i class="fab fa-twitter fa-2x"></i></a></div>
    <div class="social-card"><a target="_blank" [href]="'https://www.instagram.com/1bariscanyilmaz'"><i class="fab fa-instagram fa-2x"></i></a></div>
    <div class="social-card"><a target="_blank" [href]="'https://medium.com/@bariscanyilmaz'"><i class="fab fa-medium fa-2x"></i></a></div>
    <div class="social-card"><a target="_blank" [href]="'https://github.com/bariscanyilmaz'"><i class="fab fa-github fa-2x"></i></a></div>
    <div class="social-card"><a target="_blank" [href]="'mailto:baris@bariscanyilmaz.com'"><i class="fas fa-envelope fa-2x"></i></a></div>
    <div class="social-card"><a target="_blank" [href]="'http://www.bariscanyilmaz.com'"><i class="fab fa-safari fa-2x"></i></a></div>
  </div>
  <div class="footer-text">
    Created By Barış Can Yılmaz
  </div>
</div>
