<div class="header">
  <div class="header-element ">
    <div class="breadcrumb">
      <div><a [routerLink]='"/"'>Home</a><span></span>{{category}}<span></span>{{value}}</div>
    </div>
  </div>
  <div class="header-element ">
    <div class="header-center">
      <h2 class="header-center-text"> NerdeNeYesek??</h2>
    </div>
  </div>
  <div class="header-element ">
    <!-- <div class="header-search">
      <div class="location-arrow"></div>
      <div class="searchbar"><input class="searchbar-input" type="text" placeholder="Ara" /></div>
    </div> -->
  </div>
</div>
